@model CarSpecificationsModel

@{
    ViewBag.Title = "Car Specifications";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
   
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Make</u></p>                      
            <p>Марка: <b>@Model.Make</b></p>
            <p>Модел: <b>@Model.Model</b></p>
            <p>Гориво: <b>@Model.FuelType</b></p>
            <p>Скорости: <b>@Model.Gearbox</b></p>
            <p>Година: <b>@Model.Year</b></p>
            <p>Брой врати: <b>@Model.Doors</b></p>
            <p>Брой места: <b>@Model.Seats</b></p>
            <p>Обем на резервоар: <b>@Model.TankCapacity L</b></p>
            <p>Разход на гориво: <b>@Model.FuelConsumption</b></p>
            <p>Обем на багажника: <b>@Model.TrunkVolume</b></p>
            <p>Конски сили: <b>@Model.Horsepower</b></p>
            <p>Кубатура: <b>@Model.Cubage</b></p>
            <p>
                Цена на ден:
                <b>@String.Format("{0:f2}", Model.PricePerDay) Лева</b>
            </p>
            <p>Категория: <b>@Model.Category.Name</b></p>
            <p>Намира се в: <b>@Model.Location.Name</b></p>
            <p>Предназначение: <b>@Model.Purpose.Name</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-controller="Car" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Car" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
                    @if (!Model.IsRented)
                    {
                        <form class="ml-2" asp-controller="Car"
                      asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else
                    {
                        <form class="ml-2" asp-controller="Car" asp-action="Leave"
                      asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">                   
                </div>
            </div>
        </div>
    </div>
</div>